@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import url('./variables.css');

body {
    font-family: var(--primary-font-family);
}

.bg-primary {
    background-color: var(--dark-blue-color) !important;
}

.text-principal {
    font-weight: 800;
    font-size: 60px;
}

.text-gray {
    color: var(--gray-color);
}

.text-darkgray {
    color: var(--dark-gray-color);
}

.text-red {
    color: var(--red-color);
}

.text-orange {
    color: var(--orange-color);
}

.letter-3 {
    letter-spacing: 3px;
}

.font-weight-bold {
    font-weight: 700;
}