* {
   margin: 0;
   padding: 0; 
}

body {
    background-color: black;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border: 0.5px solid burlywood;
}

div {
    border: 0.625px solid burlywood;
    background-color: beige;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

div:hover {
    border: 0.625px solid ;
    background-color:aqua;
    height: 100px;
    width: 100px;
}