:root{
    scroll-behavior: smooth;
    --primary-text-color: hsl(215, 51%, 70%);
    --primary-theme-color: hsl(0, 0%, 100%);
    --secondary-theme-color: hsl(213, 96%, 18%);
    --solid-background-color: hsl(231, 11%, 63%);
    --secondary-background-color: hsl(229, 24%, 87%);
    --title-text-color: hsl(213, 96%, 18%);
    --division-color: hsl(215, 32%, 27%);
    --secondary-text-color: hsl(231, 11%, 63%);
    --input-deco-color:hsl(243, 100%, 62%);
}