body {
  background-color: darkcyan;
}

a {
  text-decoration: none;
}

#title {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: antiquewhite;
}

.subtitle {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: bisque;
}

p {
  font-size: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: beige;
}

button {
  background-color: darkred;
  padding: 2px;
  margin: 0.1px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

button:hover {
  background-color: crimson;
  padding: 3px;
  margin: 0.2px;
}

.ps_cl_hover {
  color: darksalmon;
  transition: all 0.2s ease;
}

.ps_cl_hover:hover {
  color: indianred;
}

.ps_cl_link_hover {
  color: darkkhaki;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.2s ease;
}

.ps_cl__link_hover:hover {
  color: darkgoldenrod;
  cursor: pointer;
}

/* .ps_cl_link_hover:active {
  font-size: 25px;
  color: coral;
} */

.ps_cl_link_hover:focus {
  color: blanchedalmond;
  border: 2px dotted #444;
}

input:active {
  background-color: cadetblue;
}

/*input:focus {
    background-color: blueviolet;
}*/

.ps_sons p:first-child {
  background-color: chocolate;
}

.ps_sons p:nth-child(3) {
  background-color: lightpink;
}

.ps_sons p:nth-child(5) {
  background-color: moccasin;
  color: #444;
}

.ps_el_before::before {
  content: "hola";
  color: darkslategray;
  font-size: 20px;
  background-color: floralwhite;
  padding: 6px;
  width: 12px;
  height: 12px;
}

.ps_el_after::after {
  content: "hola";
  color: darkslategray;
  font-size: 20px;
  background-color: floralwhite;
  padding: 6px;
  width: 12px;
  height: 12px;
}

.ps_el_fl::first-letter {
  color: black;
  font-size: 30px;
  text-decoration: underline;
}

.input1:required {
  border: 1px solid #444;
}

.input1:valid {
  background-color: antiquewhite;
  color: #444;
}

.input1:invalid {
  background-color: burlywood;
  color: midnightblue;
}

.father ul li:nth-child(3) {
  background-color: bisque;
}

.father ul .select-this {
  background-color: burlywood;
}

.father ul li:nth-child(4) {
  background-color: darkkhaki;
}

.container {
  color: #444;
  font-size: 8px;
  border: 1px solid crimson;
}

.child {
  border: inherit;
  font-size: initial;
}

.parrafo {
  padding: 10 px;
  color:darkolivegreen;
}

.parrafo {
  background-color: darkgoldenrod;
  color:darkslategray;
}

.box1 {
  background-color:chocolate;
  width: 100px;
  height: 100px;
}

.box2 {
  background-color:darksalmon;
  font-size: 35px;
  width: 10vw;
  height: 10vw;
}

.box3 {
  background-color:floralwhite;
  font-size: 55px;
  width: 10rem;
  height: 10rem;
}