@import './modules/variables.css';
@import './modules/layout.css';
@import './modules/cards.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&display=swap" rel="stylesheet');
@import './modules/fonts.css';
@import './modules/form.css';


body {
  background-color: var(--solid-background-color);
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
} 

section {
  overflow: hidden;
  font-size: 10px;
}

