.card {
    border-radius: 15px;
    box-shadow: 2px black;
    background-color: var(--primary-theme-color);
    width: 290px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0.5em 0.5em;

  }

.card__qr {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  margin: 2.5%;
}

.card__content {
  position: relative;
  margin: 0.5em;
  font-family: 'Outfit', sans-serif;
}

.card__title {
  color: var(--title-text-color);
}

.card__text {
  color: var(--primary-text-color);
}

.card__chrono span {
  font-family: 'Outfit', sans-serif;
}

.card__crypto {
  color: var(--higlight-text-color);
  margin-right: 2.5em;
}

.card__watch {
  margin-left: 3em;
}

.card__time {
  color: var(--primary-text-color);
  
}

.card__footer {
padding: 1em;
align-items: left;
text-align: center;
font-family: 'Outfit', sans-serif;
}

.card__footer-avatar {
width: 25px;
height: 25px;
border: 0.625px solid var(--title-text-color);
border-radius: 50%;
}

.card__author .card__author{

}

.card__author {
  color: var(--title-text-color);
}

@media (min-width: 768px) {

  .card__text::before {
    content: '';
    position: absolute;
    left: 0.125rem;
    bottom: -0.625rem;
    width: 17rem;
    height: 0.125rem;
    background-color: var(--division-color);
    }
}