@import url(./variables.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

body {
  font-family: var(--primary-font-family);
  padding: 0;
  margin: 0;
}

.header {
  padding: 30px;
}

.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white-color);
  list-style: none;
}

.menu > li {
  font-family: var(--secondary-font-family);
}

.bcontact__header {
  border: 1px solid var(--white-color);
  border-radius: 25px;
  background-color: var(--white-color);
  padding: 0.75em 1.5em;
  color: var(--vdark_blue-color);
  text-transform: uppercase;
  cursor: pointer;
}

.nav__icon--menu,
.nav__icon--close {
  display: none;
}

.principal__section {
  background: url(../assets/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-family: var(--primary-font-family);
}

.hero, .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.hero > div {
  text-align: center;
  margin: 0;
  width: 70%;
  word-wrap: break-word;
}

.hero > div > h1 {
  margin-top: 50px;
  color: var(--white-color);
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.arrow {
margin-top: 5%;
}

.articles__section {
  display: grid;
  grid-template-areas:
    "first__article first__portrait"
    "second__portrait second__article"
    "third__article fourth__article";
  padding: 0;
  height: 250vh;
}

.article,
.article > div {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: auto;
}

.article > div,
.back__art > div {
  width: 70%;
}

.back__art {
  display: flex;
}

.back__art,
.back__art > div {
  align-items: end;
  justify-content: end;
  text-align: center;
  margin: 0 auto;
}

.back__art > div {
  margin-bottom: 40px;
}

.back__art div h2,
.back__art div p {
  margin: 0 auto;
  width: 90%;
  padding: 10px 0;
  color: var(--text_cyan-color);
}

div > a {
  padding: 20px 0;
  text-decoration: none;
  color: var(--vdark_blue-color);
}

div > a::after {
  content: "";
  width: 10px;
  height: 2px;
}

.first__portrait {
  background: url(../assets/desktop/image-transform.jpg);
}

.second__portrait {
  background: url(../assets/desktop/image-stand-out.jpg);
}

.third__article {
  background: url(../assets/desktop/image-graphic-design.jpg);
}

.fourth__article {
  background: url(../assets/desktop/image-photography.jpg);
}

.portrait {
  background-repeat: no-repeat;
  background-size: cover;
}

.testimony__section {
  display: grid;
  padding: 20px 0 60px;
}

.testimony__section,
.testimony__section > div {
  align-items: center;
  justify-content: center;
}

.testimony__section > div {
  display: flex;
}

.testimony__header {
  padding: 70px 0 30px;
  text-transform: uppercase;
  color: var(--grayish_blue-color);
  letter-spacing: 7.5px;
  font-size: 20px;
}

.testimonials > div {
  text-align: center;
  font-family: var(--secondary-font-family);
  width: 30%;
}

.testimonials > div > p {
  padding: 20px;
}

.profile__icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 20px 0;
}

h6 {
  color: var(--grayish_blue-color);
}

.desings__section {
  display: block;
  padding: 0;
  margin: 0;
}

.designs__section > div {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: 60vh;
}

.first__des {
  background: url("../assets/desktop/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.second__des {
  background: url("../assets/desktop/image-gallery-orange.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.third__des {
  background: url("../assets/desktop/image-gallery-cone.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.fourth__des {
  background: url("../assets/desktop/image-gallery-sugarcubes.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer {
  padding: 50px 0 30px;
  background-color: var(--footer_cyan-color);
}

.footer,
.footer > div {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer__logo > img {
}

.footer__options {
  padding: 20px 0;
  gap:60px;
  color: var(--text_cyan-color);
}

.rs__options {
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap:20px;
  color: var(--text_cyan-color);
}

.footer_rs-icon {
  width: 30px;
  height: 30px;
}