:root {
    scroll-behavior: smooth;
    --secondary-font-family: 'Barlow', sans-serif;
    --primary-font-family: 'Fraunces', serif;
    --red-color: hsl(7, 99%, 70%);
    --yellow-color: hsl(51, 100%, 49%);
    --text_cyan-color: hsl(167, 40%, 24%);
    --dark_blue-color: hsl(198, 62%, 26%);
    --footer_cyan-color: hsl(169, 26%, 52%);

    --vdark_blue-color: hsl(212, 27%, 19%);
    --vdark_grayish_blue-color: hsl(213, 9%, 39%);
    --dark_grayish_blue-color: hsl(232, 10%, 55%);
    --grayish_blue-color: hsl(210, 4%, 67%);
    --white-color: hsl(0, 0%, 100%);

}