

:root {
    scroll-behavior: smooth;
    --primary-font-family: 'Alata' , Sans-Serif;
    --secondary-font-family: 'Josefin Sans' , Sans-Serif;
    --white-color: hsl(0, 0%, 100%);
    --black-color: hsl(0, 0%, 0%);
    --dark_gray-color: hsl(0, 0%, 55%);
    --very_dark_gray-color: hsl(0, 0%, 41%);
}