@import './modules/animations.css';
@import './modules/variables.css';
@import './modules/layout.css';
@import './modules/cards.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;700&display=swap" rel="stylesheet');

.body {
  background-color: var(--solid-background-color);
  margin: 0;
} 

.main {
  overflow: hidden;
  font-size: 10px;
}

