.card {
    border-radius: 15px;
    background-color: var(--primary-theme-color);
    width: 290px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.25em 0.125em;
  }

.card__qr {
  width: 95%;
  height: 95%;
  border-radius: 10px;
  margin: 2.5%;
}

.card__content {
  margin: 0.5em 0;
  font-family: 'Outfit', sans-serif;
}

.card__title {
  color: var(--title-text-color);
}

.card__text {
  color: var(--primary-text-color);
}

@media (min-width: 768px) {

}